body{
    background-image: url(imgs/gri.jpg);
    text-align:center;
}
form{
    align-content: center;
    align-self: center;

}

#account {
    max-width: 1000px;
    margin-bottom: 50px;
}
footer {
    background-color: rgb(222, 254, 222);
}
card-body {
    background-color: aquamarine;
}
.card {
    background-color: rgb(233, 249, 244);
}
